.topper {
    width: 100%;
}
.profile_photo {
    position: absolute;
    width: 300px;
    z-index: 2;
    top: 150px;
    left: 50px;
}
.about {
    position: relative;
    left: 300px;
    top: -40px;
    font-size: 2em;
    font-family: "Gelasio", Georgia, sans-serif;
    color: grey;
}
.info {
    color: grey;
    font-size: 0.7em;
    font-family: "Georgia", sans-serif;
}
.col-md-4 {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top:-50px;
    left: 100px;
    font-family: "Georgia", sans-serif;
}
.col-md-2 {
    text-align: center;
    position: relative;
    left: 200px;
    top:-50px;
    font-family: "Georgia", sans-serif;    
}
.col-md-3 {
    text-align: center;
    font-family: "Georgia", sans-serif;
    color: grey;
    position: relative;
    top:-50px;
}
.col-md-6 {
    text-align: center;
    position: relative;

    font-family: "Georgia", sans-serif;
    color: grey;
    top:50px;
}
.content {
    margin: 0 auto;
    padding: 50px;
}
.bi {
    color: black;
}
#skills ,
#education ,
#experience {
    border:1px black solid;
    background-color: #E2FEFE;
}
#skills {
    position: relative;
    top:275px   
}
#education {
    position: relative;
    top:300px
}
#experience {
    position: relative;
    top:-70px;
}
@media only screen and (max-width: 500px) {
    
    .about {
        font-size: 1.5em;
        text-align: center;
    }
    #skills ,
#education ,
#experience {
        background-color: #eed9c4;   
    }
    .col-md-2 , .col-md-3 , .col-md-4 , .col-md-6 {
        position: static;
        margin: 0 auto;
    }
    .profile_photo {
        display: none;
    }
}