#content {
    margin: 0 auto;
    width: 900px;
}
h1 {font-family: "Helvetica", sans-serif;
    font-size: 50px;
}

#byline {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 10px;
    }

    p{
        font-family: "Georgia", serif;
        font-size: 13px;
    }
h4{font-family: "Georgia", sans-serif;
    font-weight: 800;
}

.links {
    font-style: italic;
}
.container {
        text-align: center;
}
.image {
    width: 900px;
}
blockquote {
    width: 450px;
    float: left;
    border-right: 4px grey solid;
    border-top: 1px grey solid;
    margin: 25px;
    padding: 10px;
    font-size: 1.25em;
    font-style: italic;
    font-family:"Gelasio", sans-serif;
    text-align: center;
    color: red;
    background-color:bisque;
}