.headline {
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    font-family: "Playfair Display", serif;
}
.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Georgia", serif;
    text-align: center;
}
p {
    font-family: "Georgia", serif;
    line-height: 180%;
}
h2 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    text-align: center;
}
.image {
    width: 900px;
    margin: 0 auto;
}
figcaption {
    padding: 20px;
    padding-top: 0;
    font-family: "Georgia", serif;
    font-style: italic;
    text-align: center;
}
.text-muted {
    text-align: center;
    color: #fff;
}
.nav-head {
    color: #fff
}
.nav-logo{
    margin: 0 auto;
}
.lead-photo {
    width: 100%
}
.container{
    width: 900px;;
}
.image1{
    margin: 0 auto;
    padding-left: 28px;
    padding-top: 20px;
}
.image2{
    width: 100%;
    padding-top: 20px;
}
.quote {
    color: green;
    border-top: 1px black solid;
}
.quote_attribution {
    
}