.headline {
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    font-family: "Playfair Display", serif;
}
.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
p {
    font-family: "Georgia", serif;
    line-height: 180%;
}
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.image {
    width: 900px;
    margin: 0 auto;
}
figcaption {
    padding: 20px;
    padding-top: 0;
    font-family: "Georgia", serif;
    font-style: italic;
}
.text-muted {
    text-align: center;
    color: #fff;
}
.head {
    color: #fff
}
